*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

.box{
    width: 450px;
    /* height: 500px; */
    border-radius: 20px;
    background: #1a1a1a;
    padding: 20px;
    box-shadow: 0 0 25px black;
}

h2{
    color: white;
    /* margin: 20px 0; */
    margin-bottom: 20px;
    text-align: center;
}

.tags{
    width: auto;
    height: 30px;
    padding: 20px;
    color: rgb(203, 211, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    background: #111;
    margin: 0 -20px 20px;
}

.color-box{
    width: 100%;
    height: 180px;
    background: #ff0000;
    border-radius: 10px;
    /* padding: 20px; */
    margin-bottom: 20px;
    /* margin-left: 20px;
    margin-right: 20px; */
}

input{
    display: flex;
    flex-direction: column;
    /* margin: 0 20px; */
}

#picker{
    width: 100%;
    height: 30px;
    margin-bottom: 10px; 
    border-radius: 5px; 
}

#hex-code{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background: rgb(12, 12, 12);
    border: 1px solid #333;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

button{
    /* margin: 20px; */
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.saved-colors{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
